

<script tyee="text/javascript">
    $(document).ready(function() {
        var img ={};
        img[5] = "/static/img/i22t5.jpg";
        img[9] = "/static/img/i22t9.jpg";
        img[11] = "/static/img/i22t11.jpg";
        var link = {};
        link[5] = "https://www1.president.go.kr/petitions/601501";
        link[9] = "https://www1.president.go.kr/petitions/601956";
        link[11] = "https://www1.president.go.kr/petitions/601999";
        var petiion_text = {};
        petiion_text[5] = "미국 영국 질병청에 보고된 부작용 중증사망자는 아시겠지만 코로나 사망자수를 훌쩍넘기고 있습니다.',  '지금의 현상황은 백신이 답이 아니니까요 더구나 개인 질환 체질 알레르기 부작용으로 백신완료를 못한분들도 있는데 백신을 무조건 강제할수 있나요.'";
        petiion_text[9] = "마스크를 잘 쓰고 방역수칙 잘 지키며 이용하는 실내체육시설에 대해서는 유흥시설과 같이 엄격하게 백신패스를 요구하면서 마스크벗고 대화하고 음식을 공유하는 식당 카페 등의 시설에서는 인원 완화에 백신패스도 없다니 정말 납득하기 어렵습니다.',  '정리하면 오늘 발표된 조치는 아래와 같은 부작용을 초래합니다 ㅡ백신을 맞지 못하거나 건강상의 이유로 맞지 안/못하는 사람들에 대한 차별 ㅡpcr 검사 증가로 인한 무의미한 pcr검사 행정력 보건인력 낭비 ㅡ돌파감염 및 마스크 미착용 식당 및 카페 등에서 발생하는 코로나감염은 생각하지않고 일부 업종에만 희생을 강요하는 행태 , 형평성 문제 ㅡ실내체육시설 이용자 중 미접종자에 대한 환불 및 연장 등에 관련한 처리문제 ㅡ위드코로나로 생길 코로나 감염증가로 인한 이 조치의 장기화 가능성.'";
        petiion_text[11] = "그리고 휴게음식업 허가를 받은 편의점 업장이고 2,3,4,5차 재난지원금도 받았고, 방역수칙 이행하면서 영업하였고, 정부에서 21:00 ~ 05:00 방역수칙 지켰고 4단계 영업제한 조치도 이행하였습니다.',  '영업제한: 행정명령상 관련 거리두기 지침에 의거하여 정부가 정한 법정 영업시간을 제한 받는 것 영업시간제한: 거리두기 강화에 따라 행정명령상 정부가 정한 법정 영업시간을 제한받아 문을 닫는 것 자 다른게 뭔가요?',  '편의점하는 사람들은 24시간 영업의 무기로 제외 시키는 건가요?'";
        
        for (var key in petiion_text) { 
            if(petiion_text[key] === "") {
                continue;
            }
            $("input[name='topicnumM22']:input[value="+key+"]").prop('checked', true); 
            $("#imgM22T").attr("src", img[key]);
            $("#linkM22T").attr("href", link[key])
            var text = document.getElementById("M22Text").innerText = petiion_text[key];
            $("#M22T").load("/graph/pieM22T"+ key);
            break;
        }
        var check = $("input[name='topicnumM22']");
        check.click(function(){
            var topicN = $("input[name='topicnumM22']:checked").val();
            $("#imgM22T").attr("src", img[topicN]);
            $("#linkM22T").attr("href", link[topicN])
            var text = document.getElementById("M22Text").innerText = petiion_text[topicN];
            $("#M22T").load("/graph/pieM22T"+topicN, function(response,stu,xhr){
                if(stu=="error"){
                    $("#M22T").empty();    
                }    
            });
        })
    })
</script>
<div class="">
    <input type="radio" name="topicnumM22" id="bM22T5" value="5" checked="" onclick="">
    <label for="bM22T5" class="radioT" class="first_label">Topic 5</label>
    <input type="radio" name="topicnumM22" id="bM22T9" value="9" onclick="">
    <label for="bM22T9" class="radioT">Topic 9</label>
    <input type="radio" name="topicnumM22" id="bM22T11" value="11" onclick="">
    <label for="bM22T11" class="radioT">Topic 11</label>
</div>
<div>
    <table border="1" height="100%"; width="100%" style="margin: 1em auto 1em auto; text-align:center">
        <thead>
            <tr>
                <td style="width: 33.3333%;">Img</td>
                <td style="width: 33.3333%;">요약</td>
                <td style="width: 33.3333%;">감성분석</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div  style="height: 450px; ">
                        <a id="linkM22T" href="" target='_blank'>
                            <img id='imgM22T' onerror="this.src='/static/img/fail.png'" style="  margin-top:75px">
                        </a>
                    </div>
                </td>
                <td>
                    <div id='M22Text' style="line-height: 1.6; letter-spacing:3px;"></div>
                </td>
                <td  >
                    <div id='M22T'></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>